body{
    font-family: sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    /* border: 1px solid brown; */
    max-width: 80%;
 }
 
.color-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    /* border: 1px solid gold; */
}
.color-scheme-container{
    height: 350px;
    width: 100px;
    /* border: 1px solid blue; */
    margin: 0;
    padding: 0;
    text-align: center;
}
.color-image{
   width: 100%;
   height: 90%;
}

input{
    padding: 2px;
    height: 30px;
}
select{
    padding: 7px;
    width: 200px;
}
button{
    padding: 7px;
    background: white;
    border:1px solid #d1d5db;
    border-radius: 3px;
}
@media(max-width:750px){
    .color-container{
        justify-content: center;
    }
}